* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font-slack);
  overflow: hidden;
  background-color: #fff !important;
}
@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

::-webkit-selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}

@media (min-width: 1200px) {
  .product--section .container {
    max-width: 1400px !important;
  }

  .container {
    max-width: 1400px !important;
  }

  .wrapper {
    max-width: 992px;
    margin: 0 auto;
  }

  .nav--wrapper {
    max-width: 1360px !important;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px !important;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1700px !important;
  }
}
@media screen and (max-width: 992px) {
  .nav--wrapper {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}
.border-form {
  border: 2px solid #1688fe !important;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  color: #1688fe;
  font-weight: bold;
  font-family: var(--font-regular);
}

.divider-border-dotted {
  border-top: 1px dotted #1688fe;
  border-bottom: 1px dotted #1688fe;
  padding: 10px 0;
}

.btn .icon {
  padding-right: 10px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn:visited {
  outline: none;
  box-shadow: none;
}
.btn:active {
  outline: none;
  box-shadow: none;
}

.btn-back {
  color: #2196f3;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  will-change: box-shadow;
  background-color: transparent;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-family: var(--font-bold);
}
.btn-back .icon-right {
  position: absolute;
  margin-top: 1px;
  right: 16px;
}
.btn-back .icon-right svg {
  fill: white;
}
.btn-back:hover {
  background-color: transparent;
  border: none;
  color: #2196f3;
}
.btn-back:focus {
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.btn-back:active {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}
.btn-back:visited {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn-next {
  color: white;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  will-change: box-shadow;
  background: #2196f3;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 16px 50px 14px 1.2em;
  border-radius: 4px;
  border-color: #2196f3;
  font-weight: bold;
  font-family: var(--font-bold);
}
.btn-next .icon-right {
  position: absolute;
  margin-top: 1px;
  right: 30px;
}
.btn-next .icon-right svg {
  fill: white;
}
.btn-next:hover {
  background: #016fe0;
  border-color: #016fe0;
}
.btn-next:focus {
  outline: none;
  background: #016fe0;
  border-color: #016fe0;
  box-shadow: none;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/gilroy/Gilroy-Light.ttf");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroy/Gilroy-ExtraBold.ttf");
}
:root {
  --font-regular: "Gilroy-Regular";
  --font-medium: "Gilroy-Medium";
  --font-light: "Gilroy-Light";
  --font-bold: "Gilroy-Bold";
  --font-extrabold: "Gilroy-ExtraBold";
}

.wrapper_field {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
}
.wrapper_field .form_content {
  background-color: #f7f7fc;
  padding: 10px 0 0 0;
  height: 100vh;
  overflow: auto;
}
.wrapper_field .form_content .form-inner {
  padding: 2.5em;
  position: relative;
}
.wrapper_field .form_content .form-inner .step-content.out {
  display: none;
}
.wrapper_field .form_content .head_sub {
  font-size: 2em;
  font-family: var(--font-bold);
  font-weight: bold;
  color: #33334f;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.wrapper_field .form_content .head_sub span {
  color: #1688fe;
}
.wrapper_field .form_content .sub_title {
  font-size: 1em;
  font-family: var(--font-medium);
  font-weight: normal;
  color: #33334f;
  position: relative;
  display: block;
}
.wrapper_field .form_content .form-field {
  margin-top: 30px;
  position: relative;
  display: block;
  width: 100%;
}
.wrapper_field .form_content .form-field .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.wrapper_field .form_content .form-field .custom-control-label::before {
  background-color: transparent;
  border: 2px solid #1688fe;
}
.wrapper_field .form_content .form-field .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #1688fe;
}
.wrapper_field .form_content .form-field .preview-imageUpload {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.wrapper_field .form_content .form-field .preview-imageUpload .profile {
  flex: 0 0 20%;
  max-width: 20%;
}
.wrapper_field .form_content .form-field .preview-imageUpload .profile img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.wrapper_field .form_content .form-field .preview-imageUpload .profile #previewProfileUpload {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper_field .form_content .form-field .preview-imageUpload .uploadButton {
  flex: 0 0 80%;
  max-width: 80%;
}
.wrapper_field .form_content .form-field .form-group {
  position: relative;
  /*****************************************
    upload button styles
  ******************************************/
}
.wrapper_field .form_content .form-field .form-group label {
  display: block;
  line-height: 20px;
  margin-bottom: calc(8px);
  position: absolute;
  top: -8px;
  left: 31px;
  z-index: 1;
  font-family: var(--font-bold);
  font-size: 11px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #46466b;
  text-transform: uppercase;
  padding: 0px 5px;
  background: #f7f7fc;
}
.wrapper_field .form_content .form-field .form-group .info_title {
  font-size: 0.8125em;
  font-weight: normal;
  font-family: var(--font-regular);
  color: #000;
  position: relative;
  text-align: left;
  line-height: 22px;
}
.wrapper_field .form_content .form-field .form-group .file-upload {
  position: relative;
  display: inline-block;
  height: 8px;
}
.wrapper_field .form_content .form-field .form-group .file-upload__label {
  display: block;
  color: #000;
  background: transparent;
  border-radius: 0.4em;
  transition: background 0.3s;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: left;
  left: 0;
}
.wrapper_field .form_content .form-field .form-group .file-upload__label:hover {
  cursor: pointer;
  background: transparent;
}
.wrapper_field .form_content .form-field .form-group .file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}
.wrapper_field .form_content .form-field .form-group .form-control {
  position: relative;
  display: block;
  width: 100%;
  font-family: var(--font-bold);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  background-color: white;
  color: #484870;
  box-shadow: none;
  overflow: hidden;
  border-radius: 3px;
  border-style: solid;
  border-image: initial;
  padding: 13px 16px 9px;
  border-width: 2px;
  border-color: #e6e6ff;
  height: auto;
}
.wrapper_field .form_content .form-field .form-group .form-control:focus {
  border-color: #1688fe;
}
.wrapper_field .form_content .form-field .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #808B96;
}
.wrapper_field .form_content .form-field .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #808B96;
}
.wrapper_field .form_content .form-field .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #808B96;
}
.wrapper_field .form_content .form-field .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #808B96;
}
.wrapper_field .form_content .form-field .form-group .btn-next {
  color: white;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  will-change: box-shadow;
  background: #2196f3;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 16px 50px 14px 1.2em;
  border-radius: 4px;
  border-color: #2196f3;
  font-weight: bold;
  font-family: var(--font-bold);
}
.wrapper_field .form_content .form-field .form-group .btn-next .icon-right {
  position: absolute;
  margin-top: 1px;
  right: 16px;
}
.wrapper_field .form_content .form-field .form-group .btn-next .icon-right svg {
  fill: white;
}
.wrapper_field .form_content .form-field .form-group .btn-next:hover {
  background: #016fe0;
  border-color: #016fe0;
}
.wrapper_field .form_content .form-field .form-group .btn-next:focus {
  outline: none;
  background: #016fe0;
  border-color: #016fe0;
  box-shadow: none;
}
.wrapper_field .error-feild {
  font-size: 0.75em;
  font-family: var(--font-regular);
  font-style: normal;
}
.wrapper_field #headingForm .form_field .error-icon {
  position: absolute;
  top: 40%;
  right: 20px;
  transform: translateY(-50%);
  opacity: 0;
}
.wrapper_field #headingForm .form_field .error-icon svg {
  width: 20px;
  height: 20px;
  fill: #ff2d2d;
}
.wrapper_field .step_navHeader {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
  z-index: 10;
}
.wrapper_field .step_navHeader .step_dividerBar {
  width: 100%;
  height: 2px;
  background-color: #e6e6ff;
  position: absolute;
  left: 0px;
  top: 30px;
  border-radius: 100px;
}
.wrapper_field .step_navHeader .step_dividerBar:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0px;
  width: calc(8.33333%);
  background-color: #1688fe;
  border-radius: 100px;
}
.wrapper_field .step_navHeader .headerItem {
  position: relative;
  width: calc(16.6667%);
  text-align: center;
  color: #0099da;
  font-weight: normal;
  font-family: var(--font-regular);
  font-size: 12px;
}
.wrapper_field .step_navHeader .headerItem h4 {
  margin-bottom: 9px;
  font-family: var(--font-regular);
  font-size: 13px;
  color: #7171a6;
  cursor: default;
  text-transform: uppercase;
}
.wrapper_field .step_navHeader .headerItem .dot {
  width: 10px;
  height: 10px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
  color: #98a1b3;
  border-radius: 50%;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: #e6e6ff;
  border-image: initial;
  display: block;
  position: relative;
  top: 2px;
  z-index: 2;
}
.wrapper_field .step_navHeader .headerItem .divider {
  width: 100%;
  height: 2px;
  background-color: #e6e6ff;
  position: absolute;
  left: 0px;
  top: 30px;
  border-radius: 100px;
  z-index: 1;
}
.wrapper_field .step_navHeader .activeItem h4 {
  margin-bottom: 9px;
  font-family: var(--font-medium);
  font-size: 13px;
  color: #1688fe;
  cursor: pointer;
}
.wrapper_field .step_navHeader .activeItem .divider:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0px;
  width: 100%;
  background-color: #1688fe;
  border-radius: 100px;
}
.wrapper_field .step_navHeader .activeItem .dot:nth-child(2) {
  width: 10px;
  height: 10px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: #1688fe;
  border-image: initial;
  display: block;
}
.wrapper_field .experienceForm-field-none {
  display: none !important;
}
.wrapper_field .experienceForm-field-block {
  display: block !important;
}
.wrapper_field .educationForm-field-none {
  display: none !important;
}
.wrapper_field .educationForm-field-block {
  display: block !important;
}
.wrapper_field .skillForm-field-block {
  display: none !important;
}
.wrapper_field .skillForm-field-block {
  display: block !important;
}
.wrapper_field .summaryForm-field-block {
  display: block !important;
}
.wrapper_field .summaryForm-field-block {
  display: block !important;
}
.wrapper_field .add-experience-none {
  display: none !important;
}
.wrapper_field .add-education-none {
  display: none !important;
}
.wrapper_field .add-skill-none {
  display: none !important;
}
.wrapper_field .divider-border-dotted-none {
  display: none !important;
  border-top: none !important;
  border-bottom: none !important;
}
.wrapper_field .myaccordion {
  max-width: 100%;
}
.wrapper_field .myaccordion .card {
  background: transparent;
  border: none;
  box-shadow: none;
}
.wrapper_field .myaccordion .card .card-body {
  padding: 0;
}
.wrapper_field .myaccordion .card-header {
  border-bottom: none;
  border-top: 1px solid #e6e6ff;
  background: transparent;
  padding-right: 0;
  padding-left: 0;
}
.wrapper_field .myaccordion .card-header:last-of-type {
  border-top: 1px solid #e6e6ff;
}
.wrapper_field .myaccordion .card-header .icon_group .delete-stack {
  opacity: 0;
  -webkit-transition: 0.24s ease;
  -moz-transition: 0.24s ease;
  -ms-transition: 0.24s ease;
  -o-transition: 0.24s ease;
  transition: 0.24s ease;
}
.wrapper_field .myaccordion .card-header .icon_group .delete-stack svg {
  fill: #1688fe;
}
.wrapper_field .myaccordion .card-header:hover .btn {
  color: #1688fe;
}
.wrapper_field .myaccordion .card-header:hover .fa-stack .fa {
  color: #1688fe;
}
.wrapper_field .myaccordion .card-header:hover .icon_group .delete-stack {
  opacity: 1;
  -webkit-transition: 0.24s ease;
  -moz-transition: 0.24s ease;
  -ms-transition: 0.24s ease;
  -o-transition: 0.24s ease;
  transition: 0.24s ease;
}
.wrapper_field .myaccordion .fa-stack {
  font-size: 13px;
  color: #7171a6;
  line-height: 1.4;
}
.wrapper_field .myaccordion .fa-stack .fa {
  color: #7171a6;
}
.wrapper_field .myaccordion .btn-link {
  width: 100%;
  font-weight: bold;
  font-family: var(--font-bold);
  padding: 0;
  font-size: 13px;
  color: #7171a6;
  padding-right: 0;
  padding-left: 0;
}
.wrapper_field .myaccordion .btn-link .btn-delete {
  background-color: transparent;
  padding: 0;
}
.wrapper_field .myaccordion .btn-link:hover,
.wrapper_field .myaccordion .btn-link:focus {
  text-decoration: none;
}
.wrapper_field .myaccordion li + li {
  margin-top: 10px;
}
.wrapper_field .fieldFormContent .heading_content .sub_head {
  padding: 18px 0;
  border-bottom: 1px dotted #1688fe;
}
.wrapper_field .fieldFormContent .heading_content .sub_head h4 {
  font-size: 1.25em;
  color: #000;
  font-family: var(--font-bold);
  font-weight: bold;
  position: relative;
  text-align: left;
  display: block;
}
.wrapper_field .fieldFormContent .heading_content .sub-Title {
  padding: 18px 0;
}
.wrapper_field .fieldFormContent .heading_content .sub-Title p {
  font-size: 0.9375em;
  color: #000;
  font-family: var(--font-regular);
  text-align: left;
  line-height: 22px;
  position: relative;
  display: block;
}
.wrapper_field .rightResumeContent-wrapper {
  background-color: #e5e4ea;
  padding: 2.5rem;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  /* total width */
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */
}
@media screen and (max-width: 991px) {
  .wrapper_field .rightResumeContent-wrapper {
    position: relative;
    overflow: hidden;
  }
}
.wrapper_field .rightResumeContent-wrapper::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
.wrapper_field .rightResumeContent-wrapper::-webkit-scrollbar-track {
  background-color: #fff;
}
.wrapper_field .rightResumeContent-wrapper::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
.wrapper_field .rightResumeContent-wrapper::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}
.wrapper_field .rightResumeContent-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}
.wrapper_field .rightResumeContent-wrapper .scrollbar::-webkit-scrollbar-button {
  display: none;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.2rem;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .leftInfo {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .leftInfo .profileInfo {
  position: relative;
  text-align: center;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .leftInfo .profileInfo .profileImage .avatarImage {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .leftInfo .profileInfo .profileTitle {
  margin-top: 15px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .leftInfo .profileInfo .profileTitle .name {
  font-size: 1em;
  font-weight: bold;
  font-family: var(--font-bold);
  position: relative;
  text-align: center;
  display: block;
  color: #000;
  visibility: visible;
  text-transform: uppercase;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .leftInfo .profileInfo .profileTitle .label {
  font-size: 0.75em;
  color: #999;
  display: block;
  position: relative;
  font-family: var(--font-regular);
  font-weight: normal;
  text-align: center;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo {
  padding-left: 15px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .socialInfo .socialMediaLink .socials {
  display: block;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .socialInfo .socialMediaLink .socials .social-list {
  margin-bottom: 12px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .socialInfo .socialMediaLink .socials .social-list p {
  margin: 0;
  padding: 0;
  font-size: 0.8125em;
  color: #000;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  align-items: flex-start;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .socialInfo .socialMediaLink .socials .social-list p i {
  background-color: #1688fe;
  height: 22px;
  width: 22px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin-right: 5px;
  font-size: 0.6875em;
  vertical-align: middle;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .socialInfo .socialMediaLink .socials .social-list p span {
  display: inline-block;
  width: 80%;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .personalInfo {
  margin-top: 20px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .personalInfo .sub_head {
  font-size: 1.125em;
  font-weight: bold;
  color: #222;
  font-family: var(--font-bold);
  position: relative;
  display: block;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .personalInfo .text {
  margin-top: 18px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .personalInfo .text p {
  font-size: 0.75em;
  line-height: 24px;
  position: relative;
  color: #222;
  display: block;
  text-align: left;
  visibility: visible;
  line-height: 24px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo {
  margin-top: 15px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box {
  background-color: #F8F9F9;
  padding: 20px 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .sub_head {
  font-size: 1.375em;
  font-weight: bold;
  color: #222;
  font-family: var(--font-bold);
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .sub_head i {
  margin-right: 10px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  text-align: center;
  justify-content: center;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo .icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo .icon-red {
  background-color: #C0392B;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo .icon-gray {
  background-color: #D5D8DC;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo .icon-blue {
  background-color: #5DADE2;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo .icon-green {
  background-color: #58D68D;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo .icon-orange {
  background-color: #E67E22;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo .icon-yellow {
  background-color: #F4D03F;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .flexInfo .text {
  font-size: 0.875em;
  font-weight: bold;
  font-family: var(--font-bold);
  position: relative;
  color: #000;
  margin-top: 10px;
  display: block;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .columnFlexInfo .box .pieChart {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo {
  background-color: #F8F9F9;
  padding: 20px 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .sub_head {
  font-size: 1.375em;
  font-weight: bold;
  color: #222;
  font-family: var(--font-bold);
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .sub_head i {
  margin-right: 10px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .flexCertificate .certificateItem {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .flexCertificate .certificateItem .icon {
  font-size: 20px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
  display: block;
  color: #fff;
  margin-right: 20px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .flexCertificate .certificateItem .blueIcon {
  background-color: #1688fe;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .flexCertificate .certificateItem .greenIcon {
  background-color: #58D68D;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .flexCertificate .certificateItem .title {
  width: 70%;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .flexCertificate .certificateItem .title h5 {
  font-size: 1.125em;
  font-weight: bold;
  font-family: var(--font-bold);
  color: #000;
  position: relative;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .flexCertificate .certificateItem .title h5 span {
  color: #C0392B;
  font-style: italic;
  font-size: 15px;
  margin-left: 15px;
}
.wrapper_field .rightResumeContent-wrapper .resumeBox-content .rightInfo .certificatInfo .flexCertificate .certificateItem .title p {
  font-size: 0.8125em;
  line-height: 22px;
  font-family: var(--font-regular);
  display: block;
  position: relative;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
