.resumeBody {
  overflow: auto;
}

.wrapper_fieldResume {
  background-color: rgb(229, 228, 234);
  padding: 2.5rem;
  height: 100%;
  width: 100%;
  // overflow-y: scroll;
  // overflow-x: hidden;
  position: relative;

  // @media screen and (max-width: 991px) {
  //   position: relative;
  //   overflow: hidden;
  // }

  /* total width */
  &::-webkit-scrollbar {
    background-color:#fff;
    width:16px
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color:#fff
  }
  &::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
  }

  /* set button(top and bottom of the scrollbar) */
  .scrollbar::-webkit-scrollbar-button {display:none}
  .resumeBoxWrapper-content {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 1.2rem;

    .leftInfo {
      border-right: 1px solid rgba(0, 0, 0, .1);
      .profileInfo {
        position: relative;
        text-align: center;

        .profileImage {
          .avatarImage {
            width: 100px;
            height: 100px;
            @include border-radius(100px);
            position: relative;
          }
        }

        .profileTitle {
          margin-top: 15px;
          .name {
            font-size: em(16px);
            font-weight: bold;
            font-family: var(--font-bold);
            position: relative;
            text-align: center;
            display: block;
            color: #000;
            visibility: visible;
            text-transform: uppercase;
          }
          .label {
            font-size: em(12px);
            color: #999;
            display: block;
            position: relative;
            font-family: var(--font-regular);
            font-weight: normal;
            text-align: center;
          }
        }
      }
    }

    // Right Information
    .rightInfo {
      padding-left: 15px;
      .socialInfo {
        .socialMediaLink {
          width: 100%;
          .socials {
            display: block;
            list-style-type: none;
            position: relative;
            margin: 0;
            padding: 0;

            .social-list {
              margin-bottom: 12px;
              p {
                margin: 0;
                padding: 0;
                font-size: em(13px);
                color: #000;
                @include flexbox();
                align-items: flex-start;

                i {
                  background-color: rgb(22, 136, 254);
                  height: 22px;
                  width: 22px;
                  @include border-radius(100px);
                  line-height: 22px;
                  text-align: center;
                  color: #fff;
                  margin-right: 5px;
                  font-size: em(11px);
                  vertical-align: middle;
                }
                span {
                  display: inline-block;
                  width: 80%;
                }
              }
            }
          }
        }
      }

      .personalInfo {
        margin-top: 0;
        .sub_head {
          font-size: em(18px);
          font-weight: bold;
          color: #222;
          font-family: var(--font-bold);
          position: relative;
          display: block;
        }
        .text {
          margin-top: 18px;
          p {
            font-size: em(12px);
            line-height: 24px;
            position: relative;
            color: #222;
            display: block;
            text-align: left;
            visibility: visible;
            line-height: 24px;
          }
        }
      }

      .columnFlexInfo {
        margin-top: 15px;
        .box {
          background-color: #F8F9F9;
          padding: 20px 15px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px;
          width: 100%;
          .sub_head {
            font-size: em(22px);
            font-weight: bold;
            color: #222;
            font-family: var(--font-bold);
            position: relative;
            display: block;
            margin-bottom: 20px;

            i {
              margin-right: 10px;
            }
          }

          .flexInfo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            text-align: center;
            justify-content: center;

            .icon {
              width: 65px;
              height: 65px;
              line-height: 65px;
              text-align: center;
              @include border-radius(100px);
              margin: 0 auto;
              display: block;
              color: #fff;
              border: 2px solid #fff;
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
              font-size: 20px;
            }
            .icon-red {
              background-color: #C0392B;
            }
            .icon-gray {
              background-color: #D5D8DC;
            }
            .icon-blue {
              background-color: #5DADE2;
            }
            .icon-green {
              background-color: #58D68D;
            }
            .icon-orange {
              background-color: #E67E22;
            }
            .icon-yellow {
              background-color: #F4D03F;
            }
            .text {
              font-size: em(14px);
              font-weight: bold;
              font-family: var(--font-bold);
              position: relative;
              color: #000;
              margin-top: 10px;
              display: block;
            }
          }

          .pieChart {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
          }


          // .pieChart {
          //   width: 400px;
          //   height: 400px;
          //   background: #FC5B3F;
          //   margin: 100px auto;
          //   border-radius: 50%;
          //   overflow: hidden;
          //   position: relative;
          //   -webkit-transform: rotate(108deg);
          //           transform: rotate(108deg);
          // }
          // .pieChart .chart1 {
          //   width: 800px;
          //   height: 800px;
          //   position: absolute;
          //   top: -200px;
          //   left: -200px;
          //   -webkit-transform: rotate(0deg);
          //           transform: rotate(0deg);
          // }
          // .pieChart .chart1 div {
          //   width: 800px;
          //   height: 800px;
          // }
          // .pieChart .chart1 div:after {
          //   content: '';
          //   width: 0;
          //   height: 0;
          //   display: block;
          //   border: solid transparent;
          //   border-width: 400px;
          //   border-top-color: #FC5B3F;
          //   position: relative;
          //   -webkit-transform: scaleX(-3.07768);
          //           transform: scaleX(-3.07768);
          // }
          // .pieChart .chart1 div span {
          //   display: block;
          //   width: 100%;
          //   position: absolute;
          //   left: 0;
          //   top: 34%;
          //   font-size: 12px;
          //   text-align: center;
          //   z-index: 100;
          //   color: #fff;
          //   -webkit-transform: rotate(-108deg);
          //           transform: rotate(-108deg);
          // }
          // .pieChart .chart2 {
          //   width: 800px;
          //   height: 800px;
          //   position: absolute;
          //   top: -200px;
          //   left: -200px;
          //   -webkit-transform: rotate(147.6deg);
          //           transform: rotate(147.6deg);
          // }
          // .pieChart .chart2 div {
          //   width: 800px;
          //   height: 800px;
          // }
          // .pieChart .chart2 div:after {
          //   content: '';
          //   width: 0;
          //   height: 0;
          //   display: block;
          //   border: solid transparent;
          //   border-width: 400px;
          //   border-top-color: #FCB03C;
          //   position: relative;
          //   -webkit-transform: scaleX(0.82727);
          //           transform: scaleX(0.82727);
          // }
          // .pieChart .chart2 div span {
          //   display: block;
          //   width: 100%;
          //   position: absolute;
          //   left: 0;
          //   top: 34%;
          //   font-size: 12px;
          //   text-align: center;
          //   z-index: 100;
          //   color: #fff;
          //   -webkit-transform: rotate(-255.6deg);
          //           transform: rotate(-255.6deg);
          // }
          // .pieChart .chart3 {
          //   width: 800px;
          //   height: 800px;
          //   position: absolute;
          //   top: -200px;
          //   left: -200px;
          //   -webkit-transform: rotate(201.6deg);
          //           transform: rotate(201.6deg);
          // }
          // .pieChart .chart3 div {
          //   width: 800px;
          //   height: 800px;
          // }
          // .pieChart .chart3 div:after {
          //   content: '';
          //   width: 0;
          //   height: 0;
          //   display: block;
          //   border: solid transparent;
          //   border-width: 400px;
          //   border-top-color: #6FB07F;
          //   position: relative;
          //   -webkit-transform: scaleX(0.25676);
          //           transform: scaleX(0.25676);
          // }
          // .pieChart .chart3 div span {
          //   display: block;
          //   width: 100%;
          //   position: absolute;
          //   left: 0;
          //   top: 34%;
          //   font-size: 12px;
          //   text-align: center;
          //   z-index: 100;
          //   color: #fff;
          //   -webkit-transform: rotate(-309.6deg);
          //           transform: rotate(-309.6deg);
          // }
          // .pieChart .chart4 {
          //   width: 800px;
          //   height: 800px;
          //   position: absolute;
          //   top: -200px;
          //   left: -200px;
          //   -webkit-transform: rotate(228.6deg);
          //           transform: rotate(228.6deg);
          // }
          // .pieChart .chart4 div {
          //   width: 800px;
          //   height: 800px;
          // }
          // .pieChart .chart4 div:after {
          //   content: '';
          //   width: 0;
          //   height: 0;
          //   display: block;
          //   border: solid transparent;
          //   border-width: 400px;
          //   border-top-color: #068587;
          //   position: relative;
          //   -webkit-transform: scaleX(0.22353);
          //           transform: scaleX(0.22353);
          // }
          // .pieChart .chart4 div span {
          //   display: block;
          //   width: 100%;
          //   position: absolute;
          //   left: 0;
          //   top: 34%;
          //   font-size: 12px;
          //   text-align: center;
          //   z-index: 100;
          //   color: #fff;
          //   -webkit-transform: rotate(-336.6deg);
          //           transform: rotate(-336.6deg);
          // }
          // .pieChart .chart5 {
          //   width: 800px;
          //   height: 800px;
          //   position: absolute;
          //   top: -200px;
          //   left: -200px;
          //   -webkit-transform: rotate(246.6deg);
          //           transform: rotate(246.6deg);
          // }
          // .pieChart .chart5 div {
          //   width: 800px;
          //   height: 800px;
          // }
          // .pieChart .chart5 div:after {
          //   content: '';
          //   width: 0;
          //   height: 0;
          //   display: block;
          //   border: solid transparent;
          //   border-width: 400px;
          //   border-top-color: #1A4F63;
          //   position: relative;
          //   -webkit-transform: scaleX(0.09453);
          //           transform: scaleX(0.09453);
          // }
          // .pieChart .chart5 div span {
          //   display: block;
          //   width: 100%;
          //   position: absolute;
          //   left: 0;
          //   top: 34%;
          //   font-size: 12px;
          //   text-align: center;
          //   z-index: 100;
          //   color: #fff;
          //   -webkit-transform: rotate(-354.6deg);
          //           transform: rotate(-354.6deg);
          // }
        }
      }

      .certificatInfo {
        background-color: #F8F9F9;
        padding: 20px 25px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        .sub_head {
          font-size: em(22px);
          font-weight: bold;
          color: #222;
          font-family: var(--font-bold);
          position: relative;
          display: block;
          margin-bottom: 20px;

          i {
            margin-right: 10px;
          }
        }

        .flexCertificate {

          .certificateItem {
            @include flexbox();
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 20px;
            .icon {
              font-size: 20px;
              height: 60px;
              width: 60px;
              line-height: 60px;
              text-align: center;
              @include border-radius(100px);
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
              border: 2px solid #fff;
              display: block;
              color: #fff;
              margin-right: 20px;
            }
            .blueIcon {
              background-color: rgb(22, 136, 254);
            }
            .greenIcon {
              background-color: #58D68D;
            }
            .title {
              width: 70%;
              h5 {
                font-size: em(18px);
                font-weight: bold;
                font-family: var(--font-bold);
                color: #000;
                position: relative;
                text-align: left;
                display: block;
                margin-bottom: 10px;

                span {
                  color: #C0392B;
                  font-style: italic;
                  font-size: 15px;
                  margin-left: 15px;
                }
              }
              p {
                font-size: em(13px);
                line-height: 22px;
                font-family: var(--font-regular);
                display: block;
                position: relative;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  .resumeBoxWrapper-content {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 1.2rem;

  }
  // .resume-wrapper {
  // }

}


/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50.6%;
  top: 0;
  content: ' ';
  display: block;
  width: 3px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  // background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
  // background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  // background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  // background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  // background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 150px;
  float: right;
  text-align: left;
  padding-left: 10px;
}

.direction-r {
  position: relative;
  width: 150px;
  float: left;
  text-align: right;
  padding-right: 10px;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: right;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag-wrapper {
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: 94px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-r .flag:before {
  left: 110px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0;
  font-size: em(10px);
  font-style: italic;
  line-height: 1.5em;
}

.head_timeline {
  font-size: em(12px);
  font-weight: bold;
  color: #222;
  text-align: right;
}

.direction-r .desc {
  margin: 1em 0;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);

    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }

}

@media screen and (min-width: 400px) and (max-width: 660px) {

  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }

}


// Language Bar
.language_box {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  margin: 0;
  position: relative;
  display: block;
  margin-top: 30px;

  .language_head {
    @include position(absolute, 0, null, 0, 0);
    @include prefix(transform, rotate(180deg), webkit ms);
    background-color: #E42800;
    // height: 30px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    
  }

  .lang_barWidht {
    padding-left: 20px;
    .lang_barList {
      @include flexbox();
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .flag_lang {
        position: relative;
        display: block;
        .name_lang {
          font-size: 13px;
          font-weight: bold;
          background-color: #000;
          color: #fff;
          padding: 5px;
          @include border-radius(3px);
          @include position(absolute, 0, null, null, 0);
        }
        img {
          width: 60px;
        }
      }

      .bar_lines {
        padding-left: 10px;
        width: 100%;
        .barLineWrite {
          margin-bottom: 5px;
          display: block;
          position: relative;
          overflow: hidden;
          .progress {
            font-size: em(10px);
            font-weight: bold;
            color: #fff;
            @include border-radius(0);
            padding: 2px 5px;
            height: auto;
            position: relative;
            z-index: 1;
            background-color: transparent;
          }

          .line_divider {
            // position: relative;
            display: block;

            &:before {
              content: '';
              width: 100%;
              height: 2px;
              background-color: #A9A9A9;
              @include position(absolute, 50%, 0, null, 0);
              @include prefix(transform, translateY(-50%), webkit ms);
            }
          }

          .progress-bar {
            height: 100%;
            width: 0;
            position: absolute;
            top: 0;
            display: block;
          }
          .progress-danger {
            background-color: #E42800;
          }

          .progress-info {
            background-color: #03CCCE;
          }

          .progress-dark {
            background-color: #000;
          }
        }
      }
    }
  }
}